<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper.js"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <!-- Add Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap">
</head>

<body class="{% block body_class %}{% endblock %}">
  <div class="banner">
    Crunchylist
  </div>
  <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- <a href="/" class="navbar-brand">Crunchylist</a> -->
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% if not get_current_user() %}
        <li><a href="/signup">Sign up</a></li>
        <span> / </span>
        <li><a href="/login">Log in</a></li>
        {% else %}
        <li><a href="/logout">Log out</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>
</body>
</html>
